{var $robots = noindex}
{block content}
   <div id="levy">   
<h2>Přístup odepřen 403</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><
</div><!-- konec div#left -->

   <div id="pravy">
    <div class="jak">
      <h2>Jak to funguje?</h2>
      <ul>
        <li>objednáte a zaplatíte pomocí <img src="{$basePath}/images/paysec.png" alt="PaySec" width="60px" width="24px" /></li>
        <li>na e-mail Vám přijde kód vstupenky</li>
        <li>kód si vytiskněte, opište</li>
        <li>kód předložíte při vstuppu do kinosálu</li>
        <li>bez správného kódu je e-vstupenka neplatná</li>
      </ul>
      <p><a href="{plink Info:}">zjistit více o e-vstupence</a></p>
    </div>
    <div class="jak vstupenka">
      <h2>Vyhněme se nejasnostem</h2>
      <ul>
        <li>kód vlastní vstupenky nikomu neukazujte</li>
        <li>e-vstupenka opravňuje jednoho diváka k jedné návštěvě vybrané projekce</li>
      </ul>  
      <p><a href="{plink Info:}">zjistit více o kódu e-vstupenky</a></p>
    </div>	
   </div>
   <div class="cistic"></div>
{/block content} 
