{block content}
   <div id="levy">
    <h2>Jak fungují elektronické vstupenky?</h2>   
		<h3>Jak objednat</h3>
    <p class="mr-bot">Vyberte si vstupenky ze sezmanu filmů a vložte je do košíku. Po zadání emailové adresy a potvrzení objednávky budete přeměrováni na platební bránu systému PaySec, kde vstupenky zaplatíte. Při úspěšném zaplacení Vám budou vypsány kódy elektronických vstupenek. Tyto kódy Vám zároveň zašleme na Váš email.</p>

    <h3>Maximální počet vstupenek</h3>
    <p class="mr-bot">Objednat můžete maximálně 5 vstupenek na jednu filmovou projekci. Není však omezen počet projekcí, na které můžete vstupenky zakoupit (např.5 vstupenek na projekci A, 3 vstupenky na projekci B, 2 vstupenky na projekci C apod.).</p>

    <h3>Vstup do kinosálu s elektronickou vstupenkou</h3>
    <p>Při vstupu do promítacího sálu Vás dobrovolník festivalu požádá o předložení správného kódu vstupenky. Vstup na projekci je podmíněn správným kódem vstupenky. Proto si kódy vstupenek vytiskněte nebo správně opište.</p>
    <p class="mr-bot">Sály jsou otevřené vždy 30 minut před začátkem projekce.</p>

    <h3>Jak zacházet s kódem vstupenky</h3>
    <p class="mr-bot">Každý kód vstupenky je jedinečný. Na jeden kód můžete navštívit pouze jednu vybranou filmovou projekci. Nikomu kód Vaší vstupenky nesdělujte. Dobrovolníci festivalu nedovolí vstup více osob se stejným kódem vstupenky na danou projekci.</p>

    <h3>Jak funguje platební systém PaySec?</h3>
    <p>Zaregistrujte si účet v <a href="http://www.paysec.cz">systému PaySec</a>, registrace trvá přibližně 2 minuty. Váš PaySec účet můžete nabít kreditem například pomocí platebního příkazu z Vaší banky nebo platební kartou. Více informací najdete na webu PaySec.</p>
    <p class="mr-bot">Klienti ČSOB a Poštovní spořitelny mohou využít rychlého bezplatného převodu z internetového bankovnictví, na které Vás aplikace přesměruje.</p>
    
    <h3>Ochrana osobních údajů</h3>
    <p class="mr-bot">Pro objednání vstupenek nám sdělujete pouze adresu Vaší emailové schránky. Žádné další údaje nejsou potřeba. Vaši emailovou adresu neposkytujeme třetím stranám a slouží pouze pro potřeby objednání vstupenek.</p>

    <h3>Podněty a dotazy</h3>
    <p class="mr-bot">Předprodej vstupenek je pilotní projekt brněnského festivalu Jeden svět v roce 2011 a je určený pouze pro brněnské diváky. Pokud budete mít jakékoliv podněty, pište nám prosím na emailovou adresu jedensvet.brno@seznam.cz. Rádi zodpovíme veškeré Vaše dotazy.</p>                                        
   </div><!-- konec div#left -->

   <div id="pravy">
    <div class="jak">
      <h2>Jak to funguje?</h2>
      <ul>
        <li>objednáte a zaplatíte pomocí PaySec</li>
        <li>na e-mail Vám přijde kód vstupenky</li>
        <li>kód si vytiskněte, opište</li>
        <li>kód předložíte při vstuppu do kinosálu</li>
        <li>bez správného kódu je e-vstupenka neplatná</li>
      </ul>
      <p><a href="{plink Info:}">zjistit více o e-vstupence</a></p>
    </div>
    <div class="jak vstupenka">
      <h2>Vyhněme se nejasnostem</h2>
      <ul>
        <li>kód vlastní vstupenky nikomu neukazujte</li>
        <li>e-vstupenka opravňuje jednoho diváka k jedné návštěvě vybrané projekce</li>
      </ul>  
      <p><a href="{plink Info:}">zjistit více o kódu e-vstupenky</a></p>
      <br />
    <img src="{$basePath}/images/logo-paysec-velke.gif" alt="PaySec" width="76px" width="90px" />
    </div>
	
   </div>
   <div class="cistic"></div>
{/block content}
